<h1>Dashboard</h1>

<table class = "table table-condensed">
  <tr>
    <th></th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Products</td>
    <td><%= link_to @product_count, '/admin/products'  %> </td>
  <tr>
  <tr>
    <td>Categories</td>
    <td><%= @category_count %></td>
  </tr>

</table>

